html, body {
  height: 100%;
}


.home-header-container {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 999;
    transition: box-shadow 0.3s ease;
    height: 60px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    
    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
  
        .left-content {
            width: 20%;
            background-color: #07b307;
            display: flex;
            .header-logo    {
                background: url('../assets/images/fb_2.png') center center no-repeat;
                height: 100%;
                width: 100%;
                background-size: 66%;
            }
        }
  
        .center-content {
            width: 60%;
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: 700;
            color: #344054;
            line-height: 14px;
            font-family: "Inter", sans-serif;
        
            .child-content {
                flex: 1;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.1s ease;
                padding: 6px 12px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                background-color: #ffffff;
                color: #474b48;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0%;
                    height: 3px;
                    background-color: #008907;
                    transition: width 0.3s ease;
                }
                
                &:first-child {
                    gap: 8px;
                    color: #033e0a;
                }

                &:hover {
                    color: #008907;

                    &::after {
                        width: 100%;
                    }
                }

                
                &.child-dropdown {
                    &:hover .dropdown-menu {
                        display: flex;
                    }

                    .nav-link {
                        color: inherit;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        gap: 12px;
                    }

                    .dropdown-menu {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        min-width: 100%;
                        background-color: #ffffff;
                        color: #474b48;
                        display: none;
                        flex-direction: column;
                        box-shadow: 0 8px 16px rgba(0,0,0,0.5);
                        overflow: hidden;
                        border-radius: 0px;
                        z-index: 998;

                        a {
                            padding: 12px 16px;
                            text-decoration: none;
                            color: #474b48;
                            font-weight: bold;
                            background-color: transparent;

                            &:hover {
                                background-color: #e6e8e6;
                                color: #008907;
                            }
                        }
                    }
                }
            }

            .child-content.active {
                color: #ff8e03;
                font-weight: bold;
            }
        }
  
        .right-content {
            background-color: #ffffff;
            width: 20%;
            align-items: center;
            display: flex;
            justify-content: center;

            .user-logged-in {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 100%;

                .user-info {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    padding: 0 12px;
                    cursor: pointer;
                    height: 100%;

                    &:hover .user-dropdown-menu {
                        display: flex;
                        width: 100%;
                    }

                    .user-mini-avatar {
                        width: 40px;
                        height: 40px;
                        border: 2px solid rgb(229, 228, 228);
                        background: url("../assets/images/default_avatar.jpg") center center no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                    }

                    .user-info-text {
                        .user-name {
                            font-weight: bold;
                            font-size: 15px;
                        }
                        .user-role {
                            font-size: 12px;
                            color: #898989;
                            display: flex;
                            gap: 6px;
                            i {
                                color: rgb(5, 100, 217);
                            }
                        }
                    }

                    .user-dropdown-menu {
                        position: absolute;
                        top: 100%;
                        left: 0%;
                        min-width: 110%;
                        background-color: #ffffff;
                        color: #474b48;
                        display: none;
                        flex-direction: column;
                        box-shadow: 0 8px 16px rgba(0,0,0,0.5);
                        overflow: hidden;
                        z-index: 998;
                        height: 100px;
                        text-align: center;
                        padding: 8px 0;
                        

                        .dropdown-item {
                            padding: 10px 15px;
                            text-decoration: none;
                            color: #333;
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            &:hover {
                                background-color: #e6e8e6;
                                color: #008907;
                            }

                            i {
                                width: 18px;      
                                text-align: center;
                                font-size: 14px;  
                            }
                        }

                //      &.child-dropdown {

                //     .nav-link {
                //         display: flex;
                //         align-items: center;
                //         justify-content: center;
                //         height: 100%;
                //         width: 100%;
                //         gap: 12px;
                //     }

                //     .dropdown-menu {
                //         position: absolute;
                //         top: 100%;
                //         left: 50%;
                //         transform: translateX(-50%);
                //         min-width: 100%;
                //         background-color: #ffffff;
                //         color: #474b48;
                //         display: none;
                //         flex-direction: column;
                //         box-shadow: 0 8px 16px rgba(0,0,0,0.5);
                //         overflow: hidden;
                //         border-radius: 0px;
                //         z-index: 998;

                //         a {
                //             padding: 12px 16px;
                //             text-decoration: none;
                //             color: #474b48;
                //             font-weight: bold;
                //             background-color: transparent;

                //             &:hover {
                //                 background-color: #e6e8e6;
                //                 color: #008907;
                //             }
                //         }
                //     }
                // }
                }
            }

            .btn-logout {
                background: none;
                border: none;
                cursor: pointer;
                color: #0de02d;
                padding-right: 30px;

                i {
                    font-size: 25px;
                }

                &:hover {
                    color: #f56c6c;
                }
            }
            }



            button  {
                padding: 7px 15px;
                border: none;
                color: #ffffff;
                background-color: rgb(45, 212, 124);
                border-radius: 6px;
                height: 40px;

                &:hover {
                    background-color: #ffffff;
                    color: #07b307;
                    border: 1px solid #07b307;
                }
            } 
        }
    }
}







  